@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "reset.scss";
$open-sans: "Open Sans", sans-serif;

body {
  background: #e5e5e5;
  font-family: $open-sans;

  main {
    margin: 10px auto;
    width: 500px;
    padding-bottom: 1px;
    border-radius: 5px;
    background: #fff;

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      @import "./tabs.scss";
      @import "./ticket-classes.scss";
      @import "./ticket-and-title.scss";
      @import "./names.scss";
      @import "./accept-condition.scss";
      .btn.booking {
        background: #000;
        border-radius: 4px;
        color: #fff;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 18px;
        padding: 1rem;
      }

      .btn-disabled {
        opacity: 0.6;
        transition: opacity 0.75s ease-out;
      }
    }
  }
}

.hide {
  display: none;
}

@import './result.scss';