$black : rgba(0,0,0,0.6);
body {
  .table-structure {
    display: flex;
    flex-direction: column;
    .table-header {
      border: 1px solid $black;
      display: flex;
      flex-direction: row;
      h3 {
        padding: 10px;
      }
    }
    justify-content: center;
    align-items: center;
  }
}