$black: rgba(0, 0, 0, 0.6);
body {
  .table-structure {
    display: flex;
    flex-direction: column;
    .table-header {
      border: 1px solid $black;
      display: flex;
      flex-direction: row;
      h3 {
        padding: 10px;
      }
    }
    .table-dice {
      .dices {
        .hide {
          opacity: 0.5;
        }
        &:first-child {
          padding-right: 10px;
        }
        &:last-child {
          padding-left: 10px;
        }
        padding-top: 10px;
      }
      display: flex;
      @import "./dice.scss";
      font-size: 2em;
    }
    justify-content: center;
    align-items: center;
  }
}
