.tabs {
  text-transform: uppercase;
  .tab-header {
    background: #cecece;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .tab-title {
      color: #000;
      font-size: 32px;
      text-align: center;
      padding: 10px;
    }
  }
  .tabs-flex {
    display: flex;

    .tab-left {
      padding: 20px 40px;
      .tabText {
        font-size: 20px;
        color: #000;
      }
      width: 50%;
      background: #e2e2e2;
      text-transform: uppercase;
      .depart-time {
        color: rgba(0, 0, 0, 0.4);
        font-size: 10px;
        margin-top: 5px;
      }
    }

    .tab-right {
      padding: 20px 40px;
      width: 50%;
      background: #ECECEC;
      .tabText {
        font-size: 20px;
        color: #000;
      }
      .arrive-time {
        color: rgba(0, 0, 0, 0.4);
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }
}
