.ticket-and-title-flex {
  margin: 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  label[for="tickets"] {
    width: 50%;
    margin-right: 1%;
    select {
      border-radius: 5px;
      padding: 5px;
      width: 100%;
    }
  }

  label[for="title"] {
    width: 50%;
    select {
      border-radius: 5px;
      padding: 5px;
      width: 100%;
    }
  }
}